[2015-03-02 11:58] ultrabug opened #11 "Unable to build with >=openssl-1.0.2"
Using newer openssl library makes mongo-tools build fail because of bundled library **github.com/spacemonkeygo/openssl**.

[code]

There is one issue [1] open but it does not cover the problem above.

[1] https://github.com/spacemonkeygo/openssl/pull/26/files

[2015-03-03 19:57] gabrielrussell commented on #11
I've filed a ticket in Jira to track this
    https://jira.mongodb.org/browse/TOOLS-641

[2015-03-03 20:54] timkuijsten opened #12 "TOOLS-504 support alternate methods of password passing to tools"
In order to fully utilize the new reading from stdin and writing to stdout of the tools, support for a local config file that contains database credentials is really needed.

Currently I find myself constantly appending --authenticationDatabase admin -u myname -p < ~/.fileWithPassword to every commandline tool which makes the cli experience of mongodb really cumbersome and renders reading other da

[2015-03-04 09:31] ultrabug commented on #11
Nice one, thx for the quick fix @gabrielrussell. Maybe then you'd also want to fix the other openssl pull request I mentionned above.

Can you maybe plan on tagging a -r1 or something of mongo-tools ? With the official 3.0.0, it would be good to avoid forcing users to downgrade their openssl lib because of mongodb.

[2015-03-09 18:00] mpobrien commented on #12
Thanks for the suggestion @timkuijsten, we are working on addressing this very soon - see https://jira.mongodb.org/browse/TOOLS-504. Not 100% sure what the implementation will be yet, but the config file approach seems like a good option to me.

[2015-03-10 21:16] gabrielrussell commented on #11
There is now a r3.0.1 tag, https://github.com/mongodb/mongo-tools/tree/r3.0.1 , that includes both this fix as well as the other change you mentioned. Thanks for the bug report.

[2015-03-10 21:16] #11 closed

[2015-03-10 21:52] ultrabug commented on #11
Thanks @gabrielrussell I'll check it out.

[2015-03-26 08:28] felixonmars opened #13 "Doesn't build on 32-bit Linux"
I am getting the following error when building mongo-tools for 32-bit Linux (i686):

[code]

Any hints?

[2015-03-26 12:39] hydrapolic commented on #13
I can confirm the same problem on 32bit Linux.

At Gentoo, we have a bug report about it:
https://bugs.gentoo.org/show_bug.cgi?id=544346

We tested with go 1.4.1/1.4.2, openssl 1.0.1/1.0.2, all fail.

[2015-03-26 15:44] hydrapolic commented on #13
@felixonmars, can you please test this:

--- vendor/src/github.com/spacemonkeygo/openssl/ctx.go.orig	2015-03-09 23:14:45.000000000 +0100
+++ vendor/src/github.com/spacemonkeygo/openssl/ctx.go	2015-03-26 13:41:39.730177906 +0100
@@ -533,7 +533,7 @@
 	return nil
 }

-type Options int
+type Options int64

 const (
 	// NoCompression is only valid if you are using OpenSSL 1.0.1 or newer

[2015-03-30 16:03] felixonmars commented on #13
@hydrapolic The patch works fine for me, thanks a lot!

[2015-03-30 16:19] ultrabug commented on #13
FYI: this was added on the Gentoo ebuild to fix the issue for now.

[2015-03-30 16:23] felixonmars commented on #13
I am adding it to the Arch PKGBUILD, too :)

[2015-04-02 22:57] mpobrien commented on #13
Fixed in https://github.com/mongodb/mongo-tools/commit/086956dd3d1d2d40204022e495bc0f319aef60b7

[2015-04-02 22:57] #13 closed

[2015-05-03 15:55] felixonmars opened #18 "Doesn't build with gccgo"
I tried to build mongo-tools and got the following errors with gccgo 5.1.0, which claims to have a complete implementation of go 1.4.2.

[code]

Not sure about the problem since I am not familiar with Go, though. Hope it's still helpful!

[2015-06-10 14:41] bryanpkc commented on #18
I am running into the same issue. The problem is probably fixed in go 1.5 but that doesn't help gccgo 5.1:

https://github.com/golang/go/issues/9294

[2015-08-05 03:27] emilh91 opened #31 "UTF-8 BOM is not ignored"
This issue was fixed a while back when the MongoDB tools were written in C++: https://github.com/mongodb/mongo/commit/2e6c1584c09c5326faf22e927814d15485fbfd2a

However, it made its way back in since the tools were moved to their own repository.
Now, when running mongoimport with a CSV file with the BOM, it is part of the first key of every document. In short, the BOM should be ignored.

[2015-08-05 03:36] emilh91 commented on #31
FYI - updated to version 3.0.5 and the issue still exists.

[2015-08-18 15:42] mpobrien commented on #31
Thanks for the report @emilh91 - opened a JIRA ticket to track this here: https://jira.mongodb.org/browse/TOOLS-879
Will see about getting a fix in soon.

[2015-08-24 17:31] rafaelsisweb opened #34 "Import number started with 0 as string."
Hi, we have a situation where our csv file has a field containing "010101" using mongoimport this value is parsed as Integer so what we get in mongocollection is "**10101** instead original **010101**. We had custom change on older version of mongo import (C++).
[code]

It's possible to something like that on this GO version?

[2015-08-26 17:07] 3rf commented on #34
Hi Rafael,

If you would like to duplicate your custom change from the C++ version in the new Go tools, I suggest you take a look at `getParsedValue` in https://github.com/mongodb/mongo-tools/blob/1fdcb1938ad307bf93599bba7086518a2b09fbd1/mongoimport/common.go#L148

You should be able to trivially add a check there and return a string if `token[0] == '0'`

Thanks,
Kyle

[2015-09-10 12:30] koraa opened #37 "Support arbitrary size BSONS"
Bsondump right now supports BSONs no larger than 16MB;
instead at least bsondump should support arbitrarily large BSONs.

This will require allocating the buffers based on file size and using 64bit integers at some places where you deal with bson size.

[2015-09-30 08:01] soleo opened #41 "Add option for mongorestore to ignore some collections"
It would be great if mongorestore could ignore some collections with an argument in command line.

It could be ``--ignoreCol="Col1,Col2" ``

[2015-10-17 02:07] ryandesign opened #43 "3.1.9 was rereleased"
3.1.9 was originally released September 25, 2015; I updated the MacPorts project's mongo-tools port to this version on September 27.

The 3.1.9 tag appears to have been recreated on October 2, 2015, with different contents. This [causes MacPorts installations of mongo-tools to now fail](https://trac.macports.org/ticket/49318) because the checksums of the tarball are different.

Was this re-tagging

[2015-10-26 10:27] renjithvrs755 opened #44 "i need help"
i got this error, while running this "http://www.sitepoint.com/building-simple-blog-app-mongodb-php/"

i really need your help. i am a new comer to coding

Fatal error: Uncaught exception 'MongoConnectionException' with message 'Failed to connect to: 127.0.0.1:27017: SASL Authentication failed on database 'blog': Authentication failed.' in C:\xampp\htdocs\s\db.php:28 Stack trace: #0 C:\xampp\htdoc

[2015-11-04 05:43] gabrielrussell commented on #44
This sort of question is best directed at a mongodb user group, like https://groups.google.com/d/forum/mongodb-user , or http://stackoverflow.com/questions/tagged/mongodb . This here is for people to work on building mongodb itself.

[2015-11-04 14:57] #44 closed

[2015-11-04 15:00] gabrielrussell commented on #37
The reason that we don't support BSON documents larger then 16mb is because bson documents larger then 16mb are disallowed by mongod. If your bson file is the result of a dump, and contains large documents, then it's likely corrupt. If you needed to dump larger then 16mb bson documents for some other reason, then you should just fork bsondump and customize it for your special needs.

[2015-11-04 15:00] #37 closed

[2015-11-04 15:27] koraa commented on #37
@gabrielrussell BSON is used in projects unrelated to mongodb! In order to accomodate those cases I suggest you either introduce a command line flag or a warning for dealing with BSONs > 16mb, but just not supporting them is rather nasty for any project besides mongodb (or for forward compatibility, where BSONs > 16mb might be supported by mongo itself).

"… should be enough for anyone" usually tu

[2015-11-04 15:28] koraa commented on #37
In my specific case it was a debug dump, which I just wanted to convert in order to look at it...

[2015-11-04 19:13] mpobrien commented on #41
Thanks for this idea @soleo, I've also filed it in JIRA here: https://jira.mongodb.org/browse/TOOLS-976

[2015-11-04 19:14] gabrielrussell commented on #43
Ryan,

I agree with you that released tags should be considered immutable.

Because most people don't distribute the tools out of the tools repo, but from the mongo repo, we generally consider the tags in the tools repo to be for consumption of the mongo repo, as opposed to the general public.

We generally tag the tools repo in advance of the mongo repo, but in this case we mistakenly tagged the

[2015-11-05 05:32] ryandesign commented on #43
Thanks.

Just so I understand, are you saying that the releases tab of this mongo-tools github project is not the correct place to download official releases of mongo-tools? If so, what is the correct place?

[2015-11-05 20:14] gabrielrussell commented on #43
No, I was mistaken. That is in fact the correct place to grab the the tools source code releases.

What I said about the tools release not being real until the server release happens still stands. I realize that this is a bit awkward, and we'll talk internally about a better way to do this.

[2015-11-20 10:28] Qwiz opened #47 "mongodump is not working on ipv6-only hosts"
Hi.

I'm trying to set up mongo cluster on hosts without ipv4 address. Mongod works great, but mongodump don't - it can't connect to running instance.

There is no option `--ipv6`, mentioned in [docs](https://docs.mongodb.org/manual/reference/program/mongodump/). It seems to be removed in commit `cc26004ac9b08b2a3decfee972b73b8965dd0681` without any comment, so I have no idea why did it happen.

P

[2015-11-24 23:50] soleo opened #48 "mongorestore stopped and showed insertion error: EOF"
I was trying to restore a mongo dump to my local machine, but "Insertion error" come up.

The command I used is
[code]
Error Dump
[code]

Any idea why it happened?

[code]

[2015-11-24 23:57] soleo commented on #48
Is it a memory issue?
Ref http://dba.stackexchange.com/questions/108517/mongorestore-failure-error-writing-file-var-lib-mongodb

[2015-11-24 23:58] soleo commented on #41
Thanks, @mpobrien. I was planning to implement this, but it looks like you guys are working on it.

[2015-11-25 00:05] mpobrien commented on #41
@soleo actually, nobody's picked up this ticket yet, so we'd be happy to take a pull request from you for this if you're still interested in working on it!

[2015-11-25 20:02] soleo commented on #41
@mpobrien , okay. I'm going to pick this up. A little change for this issue. Since mongodump support two flags related to this feature in version 3.0.0
[code]
I'm going to make it consistent with that, supporting both excludeCollection and excludeCollectionsWithPrefix. and excludeCollectionsWithPrefix and excludeCollection cannot appear with --collection. Sounds good?

[2015-11-25 20:06] mpobrien commented on #41
@soleo Yup, that sounds good. Thanks for taking this one!

[2015-11-26 05:15] soleo commented on #48
More info about the issue.

The error is genterated by bson_stream.go line 126-138

[code]
I tried to get the debugging info, it turns out the it read less than BSONSize
[code]

[2015-11-30 15:22] mpobrien commented on #48
@soleo a few questions to help debug - are you able to bsondump the entire file? (try bsondump filename.bson > output.json) This would double-check that the bson is valid or not. That particular error indicates that the size of the bson header doesn't agree with the number of bytes available in the stream.

[2015-11-30 18:09] soleo commented on #48
@mpobrien ,

the dump file is corrupted because of "no space on device" error when dumping.
[code]
I just saw that in our server.

And ``bsondump`` shows ``2015-11-30T11:07:36.956-0600	unexpected EOF``.

The question is "Why would mongodump still saving the bson file if it is corrupted?" Does it make more sense to discard the bson file if it is invalid or encountered error?

[2015-11-30 18:20] mpobrien commented on #48
@soleo If I understand this correctly, mongodump did the correct behavior - it dumped as much of the collection as possible, but then stopped and displayed an error as soon as the filesystem prevented it from writing any further. It's not possible for mongodump to determine a priori if writing the BSON will succeed or not. Discarding the bson file in that case seems be a bit extreme, since it woul

[2015-11-30 19:51] soleo commented on #48
@mpobrien thanks. I think we can close this issue now. I'm pretty sure the bson file was invalid because of running out disk memory.

[2015-11-30 22:20] gabrielrussell commented on #47
Qwiz, did you build mongodump from source? If it's from source, what commit did you build? If not, then what exact version did you download?

[2015-11-30 22:28] gabrielrussell commented on #47
Also, can you try to run mongodump replacing the fqdn with the ip address, and see if that functions any better?

[2015-11-30 23:02] gabrielrussell commented on #47
Lastly, can you enclose the ip address in [] on the command line. Something like:
[code]

[2015-12-01 05:52] tp7 commented on #47
Version 3.0.7.
Replacing the fqdn with the ip address indeed works, only when it's enclosed with []. So mongodump can connect to an ipv6-only host, it just cannot resolve it by fqdn.

[2015-12-01 15:27] gabrielrussell commented on #47
This is correct. This should be nearly the same in 3.2 when it comes out. Full support for ipv6 in the tools is forthcoming.

The reason that the tools don't currently support resolving ipv6 fqdn's is that this feature is not currently supported by mgo, the go mongodb driver. The feature is under development currently. Soon after the feature is finished in the driver, it will show up in the 3.2 to

[2015-12-01 19:36] soleo commented on #48
@mpobrien , I have another collection errored out when restoring. This time, the output for
[code]
is simply the total count of the collection.
[code]

Looks like the issue still persists.

[2015-12-01 21:45] soleo commented on #48
The issue happened only to mongorestore version: 3.0.7, but it's working for the builds from master branch. Is it possible that the issue has been fixed but not reported?

[2015-12-02 15:24] mpobrien commented on #48
@soleo actually yes, you're correct - though this is a different root cause than the invalid BSON issue that you were running into initially. It looks like an occurrence of this issue: https://jira.mongodb.org/browse/TOOLS-939. This was fixed for 3.0.8 which will be released within the next few days, but is available in master now as you have noticed.

[2015-12-02 18:58] soleo commented on #48
@mpobrien Thanks. I want to use collection exclusion in my envrionment, so building with my fork would make more sense.

[2015-12-02 18:58] #48 closed

[2015-12-02 19:03] soleo commented on #48
for anyone who is interested which part of code was fixing the issue, this should be it https://github.com/mongodb/mongo-tools/commit/b4338162d8799ce948d5e20d97acf80d6f1a4cf1

[2015-12-09 08:44] nodeleaf opened #50 "set_gopath.sh failure"
Platform: go version go1.5.1 ob linux/amd64 (Ubuntu 15.10)

Steps:
1 - sudo apt-get install golang-go
2 - sudo git clone https://github.com/mongodb/mongo-tools.git
3 - sudo ./set_gopath.sh
4 -  echo $GOPATH <strong> -> returns an empty line</strong>
5 - sudo go build -o ../../bin/mongoimport mongoimport/main/mongoimport.go

`mongoimport/main/mongoimport.go:6:2: cannot find package "github.com/mong

[2015-12-10 08:50] felixonmars commented on #18
Works now with gcc 5.3.0.

[2015-12-10 08:50] #18 closed

[2015-12-15 18:46] breser opened #51 "3.0 Ubuntu packages signature is broken."
I have the 7F0CEB10 key installed as per the Ubuntu instructions and am getting this:

[code]
Note that this is a completely automated installation (including setting up the key) and has been working for months.

[2015-12-15 18:53] breser commented on #51
Ok maybe I was too quick to open this.  Running this by hand and re-running the automation succeeds.  Maybe I just had a corrupted download.

[2015-12-16 08:53] persisted commented on #50
Try running this instead:
source ./set_gopath.sh
or
. ./set_gopath.sh

[2015-12-22 15:54] mpobrien commented on #50
As noted above, you should be able to use . ./set_gopath.sh - this is required because it needs to modify GOPATH in the existing shell session, not spawn a new one.

[2015-12-22 15:54] #50 closed

[2015-12-22 15:56] mpobrien commented on #43
Closing this one out - @ryandesign we're planning on a new branching/tagging workflow that should eliminate this potential issue for future releases, will keep you posted on that.

[2015-12-22 15:56] #43 closed

[2015-12-22 20:12] soleo commented on #41
This is merged, so I think it's okay to close this issue now. @mpobrien

[2015-12-22 20:12] #41 closed

[2015-12-29 12:18] harryssuperman opened #53 "mongoexport / mongoimport: Getting a Double instead of a Integer"
Hi Team,

After doing a mongoexport and mongoimport like the next:

mongoexport -h $src -d xxx -c $src_collectioName | mongoimport -h $trgt -d xxx -c $trgt_collectionName

I am getting a ClassCastException. Impossible to cast a Double into a Integer.

I think the bug is the next:

I have an array of Integer in the source mongodb. It's a list of ages with a name of "children_ages".

After doing the

[2015-12-29 17:20] elephantjim opened #54 "mongoexport occasionally returns 0 records when there is data"
We have a project that uses a nightly task to export some data from MongoLab to a cluster for use in Hive.  We use mongoexport to fetch the data and write lines of JSON.  As our project ramped up we began to notice that every once in a while, mongoexport would return 0 records (even though we know for certain that data is there).

One issue is to figure out why mongoexport sees no data when there

[2015-12-29 17:46] elephantjim commented on #54
Oops.  Almost forgot to mention: we're running version 3.0.8.

[2015-12-29 22:28] mpobrien commented on #54
@elephantjim can you try running with more verbose debugging output by adding -vvvv to the arguments? it may show some more details that will be useful.
Also - any log snippets from the server-side from the time when the mongoexport was run?

[2015-12-29 22:30] mpobrien commented on #51
@breser Closing this for now but please let us know if there's any other issues. Thanks!

[2015-12-29 22:30] #51 closed

[2015-12-30 17:45] elephantjim commented on #54
Ok, will do.  However, we just upgraded our hardware to reduce write wait times.  It may be a while before we see the error again.

[2016-01-02 00:49] elephantjim commented on #54
Say, I tried the options for verbose output from mongoexport, but nothing additional is written.  I've tried `--verbose` and `-v` up to `-vvvvv`.  Should I be seeing any additional output?

[2016-01-02 01:46] elephantjim commented on #54
I got a chance to take a look at the mongod.log from around the time of one of the incidents.  I think I may have found the culprit, but I could use some feedback.

Our workflow goes as follows.  S'pose we want to export collection X.  We rename collection X to X_2016_01_01.  We create a new collection named "X" with whatever indices the old collection had.  We run mongoexport on X_2016_01_01.  We

[2016-01-02 02:57] mpobrien commented on #54
@elephantjim Your assessment about the replication lag as the cause seems correct. A one second delay might mitigate the issue, but wouldn't eliminate the root cause and if replication lag ever crept above your sleep delay it might end up just happening again.
Can you omit the --slaveOk option to mongoexport? Then you wouldn't need to add any pauses, as reading from the primary will guarantee that

[2016-01-02 16:45] elephantjim commented on #54
Ok, thanks!

Can I turn my bug-report-that-isn't into a feature request?  The node mongo driver has a "strict" option.  If set, trying to open a collection that doesn't exist throws an error.  See https://github.com/christkv/node-mongodb-native#strict-mode

In my case, I'd much rather receive an error from mongoexport that tells me the collection doesn't exist rather than getting no error and "suc

[2016-01-03 10:23] deg opened #55 "Mongodump fails silently on version mismatch"
Running v2.4 of mongodump on a remote 3.2 mongodb results in an apparently successful connection, but no data backed up and no error message.  Even with -vvvvv, no error or warning message.

I hit this situation without realizing it. (Details irrelevant, but FWIW: a docker script updated the mongdb version I was using, but I hosted in an existing AWS instance that was grabbing backups. I didn't re

[2016-01-05 19:26] mpobrien commented on #54
@elephantjim sure - can you file a ticket [here](https://jira.mongodb.org/browse/TOOLS) for the feature request? Then we can close out this ticket, and look at that separately.

[2016-01-05 19:33] mpobrien commented on #55
@deg The 2.4 version of mongodump is quite old and no longer being maintained, it was originally part of the github.com/mongodb/mongo repo - as of the 3.0 release the mongo tools were moved to this repo,  and should work fine against any mongo server version. There's no fix we can provide here other than to recommend using a newer version of mongodump.

[2016-01-05 19:33] #55 closed

[2016-01-05 19:44] mpobrien commented on #53
Hi Manuel,
Can you please paste the raw output of just "mongoexport" for that collection?
Also, please let us know which versions of mongoexport and mongoimport you are using. You can check these with the `--version` flag.

[2016-01-05 20:01] harryssuperman commented on #53
Hi mpobrien,

mongoexport version: 3.0.0
mongoimport version: 3.0.0

 Linux version 3.2.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.6.3 (Debian 4.6.3-14) ) #1 SMP Debian 3.2.68-1+deb7u3

this is the output that i get. I wrote just after the query.

{ "_id" : ObjectId("567f10bb53d1e64bb1bede00"), "adults" : 1, "arrival_day" : ISODate("2015-12-25T23:00:00Z"), "children_ages" : [ 1, 1,

[2016-01-05 20:05] mpobrien commented on #53
@harryssuperman ok, understood. This behavior was fixed since version 3.0.0, the details are in this ticket:
https://jira.mongodb.org/browse/TOOLS-681

Can you try it with a newer version of mongoexport/mongoimport and verify that it gives you the expected result? 3.2.0 or 3.0.8 would work fine.

[2016-01-05 20:12] harryssuperman commented on #53
@mpobrien , ok i will test it tomorrow or after tomorrow with a version higher and i will let you know how things are going on!.

[2016-01-11 21:52] elephantjim commented on #54
Thanks!  I filed https://jira.mongodb.org/browse/TOOLS-1034

[2016-01-11 21:52] #54 closed

[2016-01-14 19:53] mpobrien commented on #53
@harryssuperman any luck with the new version?

[2016-01-15 03:27] harryssuperman commented on #53
@mprobien I couldn't update the tool version yet. I will try if I have time today. If not next week. And then I will let you know it

[2016-01-15 03:28] harryssuperman commented on #53
@mpobrien I couldn't update the tool version yet. I will try if I have time today. If not next week. And then I will let you know

[2016-01-18 18:47] harryssuperman commented on #53
Hi @mpobrien,
I could update the tool version today. So I expect tomorrow to test it and then i will let you know how things are going!.

[2016-01-21 09:12] harryssuperman commented on #53
Hi @mpobrien,
after updating the mongo-tools to the version 3.2 and the same for mongo. All is solved right now and i can make the mongoexport | mongoimport without changes the datatype.
Thanks a lot!

[2016-01-21 09:12] #53 closed

[2016-01-22 20:59] SommerEngineering opened #56 "Gopass changed a method"
The library gopass has changed the return value of a method:
https://github.com/howeyc/gopass/blob/master/pass.go

`getPasswd()` returns now the data and an error. Thus, the mongo-tools does not compile any longer, caused by `common/password/pass_util.go`'s `GetPass()`.

[2016-01-22 21:02] SommerEngineering commented on #56
I have created a pull request with the fix.

[2016-01-27 18:28] gabrielrussell commented on #56
Since we vender Gopass, this will get fixed when we revender it.

[2016-01-27 18:28] #56 closed

[2016-02-05 12:35] gabocic commented on #56
Hi gabrielrussell,

Do you have an estimation of when this issue will get fixed?

thanks in advance

[2016-02-06 07:21] gabrielrussell commented on #56
Gabocic,

Are you currently having trouble building a version of the tools? I don't know of any actual problem currently with building any released version of the tools.

[2016-02-06 23:31] armond1978 commented on #31
Is there any ETA for the fix?

[2016-02-12 11:50] gabocic commented on #56
gabrielrussel,

Still seeing the same problem:

(myserver:~/gopath) go get github.com/mongodb/mongo-tools/common/password
# github.com/mongodb/mongo-tools/common/password
src/github.com/mongodb/mongo-tools/common/password/pass_util.go:20: multiple-value gopass.GetPasswd() in single-value context

[2016-02-12 22:21] gabrielrussell commented on #56
I can't really tell what you're trying to do there. If you want to build the tools, you should follow the instructions here: https://github.com/mongodb/mongo-tools#setup, and here: https://github.com/mongodb/mongo-tools#building-tools

[2016-02-15 06:10] ys-roposo commented on #56
gabriellrussell,
  [multiple-value gopass.GetPasswd() in single-value context when installing #36](https://github.com/ParsePlatform/flashback/issues/36)

  building flashback fails, as mentioned by tredman.

[2016-02-17 16:27] gabrielrussell commented on #56
Applications often have dependencies. Generally not all versions of the software is compatible with all versions of dependencies. They way that we solve this in our project is to vendor in the dependencies that we know our application is compatible with.

The application you're trying to build needs a way to manage its dependencies on versions of its dependencies.

If you have trouble building _ou

[2016-02-17 16:33] gabrielrussell commented on #56
mongo-tools ships with a version of gopass that its compatible with. We build a GOPATH with a script in the root of the project called set_gopath.sh, that lets us build against the included dependencies. While the application that you're tying to build may not be able to run set_gopath.sh directly, you it may be able to incorporate the knowledge withing and build against the correct vendored depen

[2016-02-18 04:32] ys-roposo commented on #56
Thanks, resoved using SommerEngineering [pull](https://github.com/mongodb/mongo-tools/pull/57/commits) request.

[2016-03-15 13:10] jabbalaci opened #60 "mongorestore crashes and makes the mongodb server crash too"
Hi,

I tried to use mongorestore on a Digital Ocean VPS that had only 512 MB RAM without any swap. I chose the VPS that had MongoDB preinstalled. When I tried to restore a dump, mongorestore stopped halfway and said the server was not running. Launching "mongo" failed since the server really stopped! Mongorestore managed to crash the mongodb daemon...

As it turned out, mongorestore didn't have en

[2016-03-16 02:43] mpobrien commented on #60
Hi @jabbalaci,
A few questions to help understand what's going on:
 - Can you elaborate on how you determined that memory usage was an issue? If the server went down during the restore process, that's probably the reason that mongorestore gave up writing the data. If mongorestore didn't have enough memory, you would see a "fatal error: runtime: out of memory" message.
 - Can you copy/paste the out

[2016-03-17 06:57] jabbalaci commented on #60
Hello,

You are right, it's the server that died first and then mongorestore stopped. Here is the output:

1) mongorestore
[code]

2) tail -f mongod.log

    2016-03-17T02:07:36.945-0400 W -        [initandlisten] Detected unclean shutdown - /var/lib/mongodb/mongod.lock is not empty.
    2016-03-17T02:07:36.945-0400 W STORAGE  [initandlisten] Recovering data from the last clean checkpoint.
    201

[2016-03-17 15:42] mpobrien commented on #60
OK, it looks like mongod ran out of memory. Since your server has only 512MB of ram, you may need to reduce the wiredtiger cache size, which defaults to 1GB. You can get more details on what those settings mean and how to tune them here: https://docs.mongodb.org/manual/faq/storage/#wiredtiger-storage-engine

[2016-03-17 15:45] mpobrien commented on #60
@jabbalaci since we've determined this isn't a problem in the tools code, I'm going to close out this issue - if you still need more help, post details to the [mongodb-user google group](https://groups.google.com/forum/#!forum/mongodb-user) and plenty of folks will be eager to help out.
Thank you!

[2016-03-17 15:45] #60 closed

[2016-03-17 15:48] jabbalaci commented on #60
@mpobrien Thanks a lot for your kind help!

[2016-04-07 08:19] harryssuperman opened #65 "mongodump with gzip is not working properly with mongorestore with gzip"
Hi guys,

I was exporting data with mongodump with compresion with gzip parameter, but if i try to restore the same collection with the gzip parameter i am only importing the data and not restoring the index of this collection.

What i have, it is after dumping:

collection.bson.gz           collection.metadata.json.gz

Then i run:

mongorestore -v -h localhost -d database -c collection --gzip --d

[2016-04-07 10:38] nleite commented on #65
@harryssuperman this type of question are better placed at [mongodb users google groups forum](https://groups.google.com/forum/#!forum/mongodb-user).
You are experiencing this because you are not importing the **collection.metadata.json.gz** file, which contains the index definition instructions.
To import both metadata and bson files you need to import the full database
`mongorestore -d database

[2016-04-07 13:48] visemet commented on #65
@harryssuperman, I think you're describing the same issue reported in [TOOLS-1016](https://jira.mongodb.org/browse/TOOLS-1016), which was fixed in version 3.2.2 of the tools. What version of the tools are you using?

[2016-04-11 06:51] vivekduddempudi opened #66 "expand harddisk"
how to link new external disk to my exiting mongodb database

[2016-04-11 09:28] nleite commented on #66
@vivekduddempudi you should redirect these questions to the [mongodb users google group](https://groups.google.com/forum/#!forum/mongodb-user).

[2016-04-11 17:18] #66 closed

[2016-04-11 17:20] #65 closed

[2016-04-12 02:21] mwhudson opened #67 "tests fail"
If you run the tests by running `. set_gopath.sh; go test ./common/log ./common/archive ./common/bsonutil ./common/db ./common/intents ./common/json ./common/options ./common/progress ./common/text ./common/util ./mongodump ./mongoexport ./mongofiles ./mongoimport ./mongooplog ./mongorestore ./mongostat` in a checkout, the following tests fail:

[code]

If you run go get github.com/mongodb/mongo-t

[2016-04-19 13:19] jakesjews opened #68 "Release tag for 3.2.5"
Would it be possible to tag a release for 3.2.5 so I can submit an update for mongo to [homebrew](https://github.com/Homebrew/homebrew-core).

[2016-04-20 20:36] ehershey commented on #68
Hi @jakesjews - we've added a "r3.2.5" tag. Thanks for your help!

[2016-04-20 20:36] #68 closed

[2016-04-29 07:11] ultrabug opened #69 "Missing 3.0.11 release"
Hi,

I'm packaging mongodb for Gentoo Linux and since mongodb-3.0.11 got released, we're lacking a mongo-tools-3.0.11 too please ?

See : https://bugs.gentoo.org/show_bug.cgi?id=580796

Cheers

[2016-05-12 07:50] ultrabug commented on #69
Same with 3.0.12

[2016-05-16 21:37] gabrielrussell commented on #69
Previously tagging the tools project was a prerequisite of our release process. This was actually error prone. So, we changed how our release process works, and having the tags in the repo is not part of it any longer.

We'll automate the generation of these tags in the near future.

I've just manually created the r3.0.11 and r3.0.12 tags. Reopen if you need need anything more.

Thank you,
Gabriel

[2016-05-16 21:37] #69 closed

[2016-06-27 14:25] Lujeni opened #72 "Missing tag"
Hi,

There is a [jira issue ](https://jira.mongodb.org/browse/TOOLS-1168 ) about the project tagging (missing 3.2.6 and 3.2.7). Sorry for the duplicata

Can you manually create the tag please?

Thanks

[2016-07-05 14:04] lucasem commented on #31
Fixed in 59a747a.

You could build the tools yourself or wait for the next release to take advantage of the fix.

[2016-07-05 14:04] #31 closed

[2016-07-15 03:24] JohnnyY8 commented on #48
@soleo Hi!
I am meeting the same error like following:
![qq 20160715112259](https://cloud.githubusercontent.com/assets/12611573/16862694/8eb8eafe-4a7e-11e6-8a1d-992b1a060912.png)
Could you please tell me what is your solution ?

[2016-07-15 03:43] zachjs commented on #48
@JohnnyY8 `EOF` usually indicates that the server has crashed. Can you check your server logs?

[2016-07-15 03:54] JohnnyY8 commented on #48
@zachjs Hi!
I have not check logs, but I can connect to mongos. Does that mean the server not crashed ?
And when I run "show dbs" command, there are some exception I do not know why.
![image](https://cloud.githubusercontent.com/assets/12611573/16863187/c8804f62-4a82-11e6-874d-95085a776658.png)
Does that mean shard3 is crashed or something?
Thanks a lot!

[2016-07-15 04:18] zachjs commented on #48
@JohnnyY8 Yes, it appears that the shard did crash or is otherwise down. Restarting that shard should resolve your issue. However, info from the shard's logs could help us determine what caused it to fail in the first place.

[2016-07-15 08:22] JohnnyY8 commented on #48
@zachjs OK, thank you.
I have dumped the all data. So I want to clean the data and config files, then restart mongodb.

[2016-07-15 14:56] zachjs commented on #48
@JohnnyY8 Has your issue been resolved then? Do you have any further questions?

[2016-07-17 02:58] JohnnyY8 commented on #48
@zachjs I tryed to fix the shard3 and waiting for the result of restoring.
That looks good. Thank you so much!

[2016-07-28 21:19] Lujeni commented on #72
Hi,

Any news pls?

[2016-07-29 15:19] mpobrien commented on #67
Hi @mwhudson - thanks for the heads up! This has been fixed - see https://jira.mongodb.org/browse/TOOLS-1167 for details.

[2016-07-29 15:19] #67 closed

[2016-07-29 15:43] zachjs commented on #72
Thank you for pointing out this issue. I manually created tags for [r3.2.6](https://github.com/mongodb/mongo-tools/releases/tag/r3.2.6) and [r3.2.7](https://github.com/mongodb/mongo-tools/releases/tag/r3.2.7). Please let me know if I can be of further assistance.

[2016-07-29 15:43] #72 closed

[2016-07-29 17:40] mpobrien commented on #34
Hi @rafaelsisweb - we've recently added a feature that allows typed fields for CSV and TSV import, which I believe can be used to resolve your situation. See https://jira.mongodb.org/browse/TOOLS-67.
It's available in master now, and will become available in the next stable release (3.4).

[2016-07-29 17:40] #34 closed

[2016-08-30 18:30] pzelnip commented on #48
I am having this issue as well while restoring a collection into a Mongo Atlas cluster.  The mongodump command did exit with 0 error code (the shell script that ran the job ```&&```'s the commands together and I see no evidence of failure), and looking at the logged output of mongodump I see:

[code]
Followed by the output of the rest of the backup.

Note that mongodump was a Mongo 2.4 instance, a

[2016-08-30 18:54] pzelnip commented on #41
Given that 3.3 isn't out yet, is there a workaround for this for those who need the ability to exclude a collection right now?

[2016-08-30 23:16] soleo commented on #41
@pzelnip you could probably just compile the branch from https://github.com/soleo/mongo-tools/tree/TOOLS-976 and use it. I think the same feature has been merged into master branch as well, so if you compile your version of binary from master branch, it would work, too.

[2016-09-06 09:35] shenshouer opened #75 "Cannot build mongo-tools"
[code]

[2016-09-06 09:37] shenshouer commented on #75
sorry for wrong report!

[2016-09-06 09:37] #75 closed

[2016-09-12 21:58] pzelnip commented on #48
FWIW, I think the problem was memory related: I ended up killing the Atlas cluster and trying again with a much larger instance (went from an M10 with 2GB of RAM to a M40 with 16GB, and the machine I was running the restore from went from 8GB to 16GB).  Seemed to solve the problem.

[2016-09-13 06:23] xerosanyam commented on #48
It was a memory related issue. My server had just 1GB ram and no swap space.
I solved it by adding swap space using following instructions: http://askubuntu.com/questions/566745/allocate-swap-after-ubuntu-14-04-lts-installation

[2016-09-28 13:52] harryssuperman opened #76 "Mongorestore with gzip option is not showing right info in the output console"
Hi Guys,

I know this will be not so important but there is a bug in the output console of the mongorestore with a gzip flag. The size of the importing is not right you could see something like:

823.2MB / 37.4MB

[http://i.imgur.com/tOZAX0A.png](http://i.imgur.com/tOZAX0A.png)

[2016-10-20 10:50] harryssuperman commented on #65
@visemet Yes exactly i was using this version of the tools

[2016-10-20 10:51] #76 closed

[2016-10-20 10:52] harryssuperman commented on #76
It was previously sorry

[2016-12-01 10:12] builtinnya opened #78 "Release tag for 3.4.0"
similar: #68

Would it be possible to tag a release for 3.4.0 so I can submit a fix for mongodb formula to homebrew?
Homebrew/homebrew-core#7419 failed to update mongo-tools version.

[2016-12-07 16:56] ryandesign commented on #78
Looks like a release tag for 3.4.0 has now been created.

[2016-12-07 16:58] ryandesign opened #79 "Mention mongoreplay in README.md"
The [README.md](https://github.com/mongodb/mongo-tools/blob/master/README.md) file does not mention the new [mongoreplay](https://docs.mongodb.com/manual/release-notes/3.4/#mongoreplay) tool added in 3.4.0.

[2016-12-07 16:58] builtinnya commented on #78
Thanks!

[2016-12-07 16:58] #78 closed

[2016-12-12 22:01] gabrielrussell commented on #47
@Qwiz the ipv6 code has been improved quite a bit since you opened this up in November 2015. Can you see if the problems you initially encountered are still present in using a 3.4 version of the tools?

[2016-12-12 22:04] gabrielrussell commented on #79
I've created https://jira.mongodb.org/browse/TOOLS-1577 to track this work.

[2016-12-12 22:04] #79 closed

[2016-12-20 11:12] odyzxc opened #82 "--includeCollections --includeCollectionsWithPrefix"
Hi,

wouldn't be nice to have a such an option? (analogically to --excludeCollectionsWithPrefix)

It's a pity one must mongodump -c for each desired collection. Or maybe -c could accept an array with wildcards possibly?

[2016-12-23 14:17] jakesjews opened #83 "Release tag for 3.4.1"
Can we get a tag for 3.4.1 so that https://github.com/Homebrew/homebrew-core/pull/8127 can be merged?

[2017-01-06 10:17] ultrabug commented on #83
Same problem here for Gentoo Linux packaging.
https://bugs.gentoo.org/show_bug.cgi?id=602434

This problem is not new and have been reported fixed but it looks like something is still missing guys.
https://jira.mongodb.org/browse/TOOLS-1168?filter=-2

[2017-01-07 05:20] yorci opened #85 "mongorestore not working"
hi, yesterday my server attacked for ransom and i try to restore my database but mongorestore nothing appent to database. it was working 5 day ago and i guess upgrade mongodb to 3.4.1 2-3 day ago.  now i get this, its my false or bug? and how can i restore my data? thanks.

btw server ubuntu 16.04

![ekran goruntusu - 2017-01-07 08-07-02](https://cloud.githubusercontent.com/assets/6468745/21739620

[2017-01-07 21:01] #85 closed

[2017-01-09 16:54] ehershey commented on #83
Done.

[2017-01-09 16:54] #83 closed

[2017-01-12 19:19] sjackman opened #86 "TOOLS-1732 mongoreplay: error: pcap.h: No such file or directory"
`pcap.h` is installed but in an atypical location. How do I specify the location of `pcap.h`?

[code]
https://travis-ci.org/Linuxbrew/homebrew-core/builds/191150506#L1867

[2017-01-13 11:42] timotheecour commented on #86
https://github.com/Linuxbrew/homebrew-core/pull/1578 seems to fix

[2017-02-12 00:52] timotheecour opened #87 "build.sh: BASH_SOURCE[0] causes build failures"
all the context here: https://github.com/Linuxbrew/homebrew-core/pull/1578#discussion_r96704884

[2017-02-28 06:06] urs-brasser-sh opened #88 "mongoreplay cannot build"
cannot build mongoreplay tool.

Dependencies

(17:40 mgoda1:~/mongo-tools) cat Godeps
gopkg.in/mgo.v2                         1e52f6152a9b262873f831bb5a94bcd29ef38c38    github.com/10gen/mgo
gopkg.in/tomb.v2                        14b3d72120e8d10ea6e6b7f87f7175734b1faab8
github.com/jtolds/gls                   8ddce2a84170772b95dd5d576c48d517b22cac63
github.com/jacobsa/oglematchers         3ecefc4

[2017-02-28 22:15] urs-brasser-sh commented on #88
user error

[2017-02-28 22:15] #88 closed

[2017-03-02 16:53] TingKwadraat opened #89 "FDTC file viewer"
Hello Everybody,

MongoDB produces DTFC files with diagnostic information.
Are there tools to read these files?
Especially in cases of issues this might be helpful.

I have been looking around on internet, but no result.

Tnx in advance for your help!

[2017-03-09 09:51] DesignMonkey commented on #88
@urs-brasser-sh Did you find a solution here? :)

[2017-03-24 22:01] obosha opened #92 "mongoreplay missing in download?"
QUESTION:  When I download MongoDB 3.4, I don't find mongoreplay in the install.  Is it a separate install?

[2017-05-04 09:47] bashkirtsevich opened #93 "Mongoimport importing progress value"
Hello, when I import csv file, ```mongoimport``` shows incorrect percents (see [Image](http://s2.micp.ru/Lj4hJ.png)), numerator and denominator is confused (```total / completed```, instead ```completed / total```).

Shell version: 3.4.0.

[2017-05-04 10:43] bashkirtsevich commented on #93
On version 3.4.4 successfully working. Close issue.

[2017-05-04 11:02] #93 closed

[2017-05-17 11:35] ncopa opened #95 "build fails on arm64 due to missing dup2"
When building mongo-tools-3.4.4 on arm64 I get the following error:

[code]

Looks like it has been fixed in upstream: https://github.com/spacemonkeygo/spacelog/commit/f936fb050dc6b5fe4a96b485a6f069e8bdc59aeb

[2017-06-20 17:28] psychemedia opened #98 "Error in mongorestore - 3.4.5 - duplicate top level key: create"
I have a long standing build script and running it in last few days has started throwing up the following error when I try to restore a db using mongo 3.4.5 on Linux:

    error running create command:
    Parsed command object contains duplicate top level key: create

[2017-07-03 20:39] pepkin88 commented on #98
I had the same problem. My temporary solution was to create the collections before running `mongorestore`. I used something like this:
[code]

[2017-07-04 03:05] xkeyideal opened #99 "mongotop --locks server does not support reporting lock information"
func (mt *MongoTop) runDiff() (outDiff FormattableDiff, err error) {
	session, err := mt.SessionProvider.GetSession()
	if err != nil {
		return nil, err
	}
	defer session.Close()
	session.SetSocketTimeout(0)

	var currentServerStatus ServerStatus
	var currentTop Top
	commandName := "top"
	var dest interface{} = &currentTop
	if mt.OutputOptions.Locks {
		commandName = "serverStatus"
		dest = &curre

[2017-07-04 03:25] #99 closed

[2017-07-05 17:04] billybanfield commented on #98
@psychemedia thanks for filing this issue! I've filed a ticket in JIRA, our issue tracker system ([TOOLS-1718](https://jira.mongodb.org/browse/TOOLS-1718)).

Thanks @pepkin88 for providing a workaround.

To help more quickly diagnose what may be going wrong and provide a fix, can you please provide the output of 'mongod --version' and 'mongorestore --version'.

[2017-07-05 18:51] pepkin88 commented on #98
Mine were:
[code]
[code]

[2017-07-06 18:06] billybanfield commented on #98
@pepkin88 @psychemedia Investigating the issue further, it seems that somehow an erroneous option has ended up in the collectionOptions for one of the collections being restored. If you have access to the original database, could you send me the output of db.getCollectionInfos?

Another workaround should be to edit the metadata file of the collection at issue in the dump and remove the the field "

[2017-07-06 18:39] pepkin88 commented on #98
I should have mentioned it earlier, that the source database in my case is really old one, version 2.4.3, so it might be because of that. @psychemedia said, that he has a long standing script that stopped working just now, in the version of 3.4.5, so I thought his source database was too 3.4.5 or not that much older. I assumed that if he is getting the same error message as I, the error should be

[2017-07-06 19:58] billybanfield commented on #95
hey @ncopa Thanks for filing this issue! We've revendored our version of spacelog to include the dup2 fix.

https://jira.mongodb.org/browse/TOOLS-1109

[2017-07-06 19:58] #95 closed

[2017-07-18 12:01] benstadin opened #100 "Feature request: Allow bsondump to export valid json array"
Background:
I have a 69GB .bson file exported from a server via mongodump. I cannot use mongoexport to export directly from the db into a valid json document (via --jsonArray), because it is a production server and mongoexport needs more time and has no progress.

Therefore, in order to export into a valid json, I would currently need to import the dump into a local mongodb and use mongoexport --j

[2017-07-18 16:07] billybanfield commented on #12
The central issue here, a security concern with the way passwords are passed to the tools, has largely been addressed by [TOOLS-504](https://jira.mongodb.org/browse/TOOLS-504). I'm going to therefore close for now.

[2017-07-18 16:07] #12 closed

[2017-07-18 16:07] #47 closed

[2017-07-18 16:20] billybanfield commented on #89
Hey @TingKwadraat!
Thanks for reaching out through the mongo-tools project. Unfortunately we don't distribute a tool for examining the FTDC data created by mongo

[2017-07-18 16:20] #89 closed

[2017-07-18 16:25] billybanfield commented on #92
Created [TOOLS-1730](https://jira.mongodb.org/browse/TOOLS-1730) to track this.

@obosha Can you provide some more context. What is the result when you run mongo --version from the binary you downloaded? Where did you download it from? the mongodb download website? or through a thirdparty like a package manager such using homebrew or apt?

[2017-07-18 16:31] billybanfield commented on #82
Hey @odyzxc!
Thanks for filing this issue. I've opened a JIRA ticket (our internal issue manager) to further track this request  [TOOLS-1731](https://jira.mongodb.org/browse/TOOLS-1731)

[2017-07-18 16:40] billybanfield commented on #86
hey @sjackman!
Thanks for filing an issue against the mongo-tools. Is this issue still occurring?

Since you said that pcap.h is in an atypical location then you will likely need to specify it using cflags similarly to how you would if compiling a c program. With CGO this is done using the parameter CGO_CFLAGS with the -I flag. This would look like

    go build CGO_CFLAGS="-I/Path/To/Header/Files

[2017-07-18 16:45] billybanfield commented on #98
Opened [TOOLS-1718](https://jira.mongodb.org/browse/TOOLS-1718) in JIRA (internal issue manager) to track this

[2017-07-18 18:08] obosha commented on #92
From mongo website.  But this has been almost 4 months, so I'm no longer near the computer this was occurring from.  I'll need time to do the further checking.  If I'm able to, I'll report back.

[2017-07-18 19:14] billybanfield commented on #92
Sorry for the delay and thanks for the quick response.

[2017-07-18 21:59] sjackman commented on #86
Hi, Billy. I believe the original PR https://github.com/Linuxbrew/homebrew-core/pull/2941 was resolved. Thanks for your suggestion though.

[2017-07-18 21:59] #86 closed

[2017-07-19 15:24] billybanfield commented on #100
Hey @benstadin
Thanks for opening an issue in the mongo-tools project. I've opened a JIRA ticket (our internal issue manager) to track this request: [TOOLS-1734](https://jira.mongodb.org/browse/TOOLS-1734)

[2017-07-21 17:12] cfsilence commented on #92
+1 - not finding it here either

[2017-07-23 09:26] karlpokus commented on #92
Missing for me too. Using homebrew on macOS Sierra 10.12.5

[code]

[2017-07-24 06:31] omron93 opened #101 "Import cycle not allowed in test"
When building mongo-tools 3.4.6 I've got this error

[code]

How to fix this?

[2017-07-25 18:05] billybanfield commented on #92
Thanks for the info @karlpokus
I can't fully claim to know why mongoreplay doesn't appear in homebrew's package for mongodb since it is a third party distributor.

My guess is that, when looking at ruby script that is used to generate the package, libpcap is [not listed as a dependency](https://github.com/homebrew/homebrew-core/blob/master/Formula/mongodb.rb#L51-L55) and is therefore missing when

[2017-07-25 21:51] billybanfield commented on #101
Hey @omron93
Thanks for opening this issue. This issue seems to have been hidden from us by the way we manage our dependencies (multiple GOPATHS).

I've replicated the issue and opened a ticket in JIRA (our internal issue manager) to track work on this problem: [TOOLS-1742 ](https://jira.mongodb.org/browse/TOOLS-1742)

[2017-07-31 12:54] stephan-hof opened #102 "If --port is given mongodump fails to connect"
Hi,

I'm doing the following call `mongodump --host db1:27011,db2:27011,db3,db4 --port 4444`.
I found out the hard way: If `db3` and `db4` are not reachable mongodump is not working any more: ` error connecting to db server: no reachable servers`

I traced it down to the following line https://github.com/mongodb/mongo-tools/blob/29b8883c560319b016f8bd4927807fa36f1a682f/common/util/mongo.go#L49
whe

[2017-07-31 15:42] billybanfield commented on #102
Hey @stephan-hof, thanks so much for filling this issue.

I've opened a ticket in JIRA (our internal issue management system) [TOOLS-1750](https://jira.mongodb.org/browse/TOOLS-1750) track the status of this issue.

I agree that the current behavior is incorrect and PyMongo's seems pretty reasonable.

[2017-08-02 22:51] billybanfield commented on #82
Hey @odyzxc,

We are going to be closing out all github issues in two weeks as we move towards exclusively using our JIRA project. Our README has long specified this as the place to discuss issues and features in the mongodb tools, so we are simply going to solidify that requirement. All future questions and discussion can be done via the opened JIRA ticket.

[2017-08-02 22:52] billybanfield commented on #92
Hey all!

We are going to be closing out all github issues in two weeks as we move towards exclusively using our JIRA project. Our README has long specified this as the place to discuss issues and features in the mongodb tools, so we are simply going to solidify that requirement. All future questions and discussion can be done via the opened JIRA ticket.

[2017-08-02 22:52] billybanfield commented on #98
Hey all!

We are going to be closing out all github issues in two weeks as we move towards exclusively using our JIRA project. Our README has long specified this as the place to discuss issues and features in the mongodb tools, so we are simply going to solidify that requirement. All future questions and discussion can be done via the opened JIRA ticket.

[2017-08-02 22:53] billybanfield commented on #100
Hey @benstadin
We are going to be closing out all github issues in two weeks as we move towards exclusively using our JIRA project. Our README has long specified this as the place to discuss issues and features in the mongodb tools, so we are simply going to solidify that requirement. All future questions and discussion can be done via the opened JIRA ticket.

[2017-08-02 22:53] billybanfield commented on #101
Hey @omron93,

We are going to be closing out all github issues in two weeks as we move towards exclusively using our JIRA project. Our README has long specified this as the place to discuss issues and features in the mongodb tools, so we are simply going to solidify that requirement. All future questions and discussion can be done via the opened JIRA ticket.

[2017-08-02 22:53] billybanfield commented on #102
Hey @stephan-hof,

We are going to be closing out all github issues in two weeks as we move towards exclusively using our JIRA project. Our README has long specified this as the place to discuss issues and features in the mongodb tools, so we are simply going to solidify that requirement. All future questions and discussion can be done via the opened JIRA ticket.

[2017-08-02 22:55] billybanfield commented on #87
Hey @timotheecour, since the original issue has been closed out, I'm going to close this issue as well.

[2017-08-02 22:55] #87 closed

[2017-08-14 16:46] karlpokus commented on #92
@billybanfield I may have a solution to this. See issue in brew core [here](https://github.com/Homebrew/homebrew-core/issues/16068#issuecomment-322080424) I need to know if there is a required version of libpcap since it comes with MacOS?

[2017-08-15 17:07] ronaldpetty commented on #92
Installing via APT (Ubuntu 16.04.1, 3.4.7 Mongo) is also missing it.